*{
    font-family:  'Montserrat', sans-serif;
}
header,footer{
height: 100px;
background-color: white;
}

header > h2{
margin-left: 260px;
font-weight: 600;
font-style: normal;
font-size: 36px;
line-height: 43.88px;
}
.container{
display:flex;
flex-direction: row;
background-color: white;
}
.left{
display: flex;
flex-direction: column;
background-color: white;
margin-left: 260px;
}

.left h4{
font-weight: 600;
font-style: normal;
font-size: 18px;
line-height: 21.94px;
}
.left label{
font-weight: 600;
font-style: normal;
font-size: 12px;
line-height: 14.63px;
color: #4F4F4F;
}
input,select{
padding-left: 30px;
width: 465px;
height: 56px;
border: 1px solid #828282;
box-sizing: border-box;
border-radius: 12px;
margin-left: -22px;

}
h3{
margin-top: 50px;
}
.placeholder{
margin-left: 10px;
}

.left i{
position: relative;
left: 10px;
width: 20px;
height: 16px;
}
select{
width: 47%;
background-color: white;
}
input[type="number"]{
width: 99%;

}
input[type="checkbox"]{
width:21px;
height: 21px;
margin-left: 10px;
}
.postal
{ 
display: inline-block;
}
footer{
display: flex;
font-family: 'Montserrat Alternates', sans-serif;
font-style: normal;
font-size: 14px;
font-weight: 700;
line-height: 17.07px;
justify-content: center;
align-items: flex-end;
margin-top: 250px;
color: grey;
}
.right h4,p{
font-size: 16px;
line-height: 19.5px;
font-weight: 600px;
font-style: normal;
}
span{
font-size: 16px;
line-height: 19.5px;
margin-top: 0px;
}
.col h4{
font-size: 16px;
line-height: 19.5px;
font-style: normal;
}
.info{
display: inline-block;
}
button{
width: 166px;
height: 56px;
color: #FFFFFF;
background-color: #F2994A;
border-radius: 12px;
margin-left: 300px;
}
.sectionB
{

width: 310px;
height: 450px;
border-radius: 0.5em;
padding: 0.5em;
margin-top: 60px;
margin-left: 200px;

background-color: #F2F2F2;
}
.box{
width: 100%;
height: 150px;
margin-top: 10px;
display: flex;
}
.box img
{ 
object-fit: fill;
height: 125px;
border-radius: 0.5em;
}
.box div 
{
width: 60%;
margin: 0 15px;
}
.span1
{
font: size 1.2em;;
color: #f2994a;
}
.span2
{
font-size: 0.8em;
margin: 20px;
text-decoration: line-through;
}
.cart
{
height: 2.5em;
border-radius: 0.5em;
box-sizing: border-box;
margin-top: 0 0;
padding: 10px 45px;
border : 1px rgb(223, 215, 215) solid;
}
.box2{ margin-bottom: 60px;}
.shipping, .total
{
height: 3em;
font-weight: 600;
font-size: medium;
border-top: 1px rgb(216, 206, 206) solid;
padding-top: 8px;
}
.shipping span, .total span 
{
margin-right: 65%;
}
.cart > pre{
position: relative;
top: -15px;
left: -22px;
}
.shipping{
margin-top: 40px;
}

@media only screen and (max-width: 415px) {
header > h2{
margin-left: 0px;
font-weight: 600;
font-style: normal;
font-size: 24px;
line-height: 29.26px;
}
.container{
flex-direction: column;
}

.left{
order: 1;
}

.sectionB,.left{
margin-left: 0px;
}
.sectionB{
margin-top: -52px;
width: 305px;
height: 489px;
}
footer{
margin-top: 10px;
}
.left label{
width: 299px;
}
input,select {
width: 297px;
}
button{
margin-left: 127px;
}
}